VITE_APP_ID=app-ehusx188iha9
VITE_SUPABASE_URL=https://kfzfuswyediqmtvkstmc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_uKVTvSzXkugP7pMZdJ9PHg_LpTMoboa
DATABASE_URL="postgresql://postgres:postgres@kfzfuswyediqmtvkstmc.supabase.co:5432/postgres"

VITE_AIRTEL_MONEY_ACCOUNT=0975283155
VITE_ORANGE_MONEY_ACCOUNT=0858657475
VITE_PAYMENT_HOLDER_NAME=Juniace Kitungwa
VITE_AIRTEL_API_KEY=your_airtel_api_key
VITE_ORANGE_API_KEY=your_orange_api_key
